@use "../styles/partials/variables" as *;

.navigation{
    background-color: transparent;
    position: fixed;
    top: 0;
    padding: 10px;
    display: flex;
    width: 100%;
    align-items: center;
}

.navigation a{
    color: #9ea5b4;
    text-decoration: none;
    padding: 0 10px 0 0;
}

.navigation img{
    width: 35px;
    height: 35px;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex-container.float-right {
      justify-content: flex-end;
      display: flex;
      right: 0;
      position: absolute;
  }
  